.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  
  .containers .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
  }
  
  .containers .box::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    animation: typing 0.3s steps(13, end), blink-caret 0.5s step-end infinite alternate;
    transform: skewX(15deg);
    transition: 0.5s;
  }
  
  .containers .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
  }
  
  .containers .box:hover:before,
  .containers .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
  
  }
  
  .containers .box:nth-child(1):before,
  .containers .box:nth-child(1):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058)
  }
  
  .containers .box:nth-child(2):before,
  .containers .box:nth-child(2):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058)
  }
  
  .containers .box:nth-child(3):before,
  .containers .box:nth-child(3):after {
    background: linear-gradient(315deg, #4dff03, #00d0ff)
  }
  
  .containers .box:nth-child(4):before,
  .containers .box:nth-child(4):after {
    background: linear-gradient(315deg, #FF3CAC, #784BA0, #2B86C5)
  }
  
  
  
  
  
  .containers .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
  }
  
  .containers .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08)
  }
  
  .containers .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  .containers .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -1s;
  }
  
  .containers .box:hover span:after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  @keyframes animate {
  
    0%,
    100% {
      transform: translateY(10px);
    }
  
    50% {
      transform: translate(-10px);
    }
  }
  
  .containers .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
  }
  
  .containers .box:hover .content {
    left: -25px;
    padding: 60px 40px;
  }
  
  .containers .box .content h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .containers .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
  
  .containers .box .content a {
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    padding: 12px 35px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    outline: 2px solid #7EFFB2;
    margin-top: 5px;
    overflow: hidden;
    transition: color 1s;
  }
  
  .containers .box .content a:hover {
    color: #090909;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
  }
  
  .containers .box .content a:hover::before {
    transform: scaleX(1) skewX(35deg);
  }
  
  .containers .box .content a::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -50px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: #01b7fd;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: 1s;
  }