body{
    background-color: black;
}
.parent {
    position: relative;
  }  
.lds-dual-ring {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }

  .lds-dual-ring:after {
    content: " ";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #ff0303;
    border-color: #00ddff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
