body::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffffd9;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.5, transparent), to(transparent));
  }